<form class="container car-data">
  <h1>Fill in car data below:</h1>
  <div class="form-group">
    <input type="text" placeholder="Brand" ng-model="car.brand" class="form-control" ng-required="true">
  </div>
  <div class="form-group">
    <input type="text" placeholder="Model" ng-model="car.model" class="form-control" ng-required="true">
  </div>
  <div class="form-group">
    <p class="input-group">
      <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
        ng-model="car.year" is-open="datePicker.opened" datepicker-options="options"
        ng-required="true" close-text="Close" ng-change="productionDateChanged()" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="openYearPicker()">
          <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </span>
    </p>
  </div>
  <div class="form-group">
    <p class="input-group">
      <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
        ng-model="car.byDate" is-open="byDatePicker.opened" datepicker-options="byDateOptions"
        ng-required="true" close-text="Close" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="openByDatePicker()">
          <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </span>
    </p>
  </div>
  <div class="form-group">
    <input type="number" min="0" placeholder="Start Price" ng-model="car.startPrice" class="form-control" ng-required="true">
  </div>
  <div class="form-group">
    <div class="btn-group" uib-dropdown>
      <button id="condition-button" type="button" class="btn btn-default" uib-dropdown-toggle>
        {{car.condition}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="condition-button">
        <li ng-repeat="choice in conditions">
          <a href ng-click="changeCondition(choice)">{{choice}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="form-group">
    <label>
      <input type="checkbox" ng-model="car.wasInCrash"/> The car was in accident
    </label>
  </div>
  <button type="submit" ng-click="submitForm(car)" class="btn btn-lg btn-primary">Analyse</button>
</form>
<div class="container result">
  <div class="alert alert-success" role="alert" ng-show="result">
    {{result}}
  </div>
</div>
